<div class="card-container">

    <div class="artist-card">
        <div class="artist-image">
            <img src={{this.images.[0].url}} alt="">
        </div>
        <div class="card-text">
            <p>{{this.name}}</p>
            {{this.id}}
            <button><a href="/tracks/{{this.id}}">View Tracks</a></button>
        </div>
    </div>
</div>