<div class="card-container">

    <div class="artist-card">
        <div class="artist-image">
            <img src={{this.images.[0].url}} alt="">
        </div>
        <div class="card-text">
            <p>{{this.name}}</p>
            <audio>{{this.preview_url}}</audio>
        </div>

    </div>
</div>